<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qian.mapper.CategoriesMapper">


    <select id="getAll" resultType="java.lang.String">
--         SELECT DISTINCT categories_name FROM blog.categories;
        SELECT categories_name FROM blog.categories b WHERE b.categories_deleted=0;
    </select>


</mapper>


