<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qian.mapper.ViewBlogMapper">


    <select id="getAll" resultType="com.qian.vo.ViewBlog">
        SELECT blog_title,blog_created,blog_id FROM blog WHERE blog_deleted=0 ORDER BY blog_created DESC
    </select>
</mapper>


